.button__card {
  margin-top: 2rem;
}
.header__section {
  text-align: center;
}
.sizing__card {
  width: 50rem;
}
.daftar__section {
  width: 90%;
  margin: auto;
}
.kartu {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
}
.card-text p {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 12px;
}
.kartu__text {
  margin-top: 18px;
  margin-left: 24px;
}
.title__text {
  margin-left: 24px;
}
.card-text span {
  margin-left: 12px;
}
.padding {
  padding-top: 1.5rem;
}
.button__jarak {
  margin: 18px 0 2rem;
}
