@import url(styles.css);

.daftar__section {
  width: 90%;
  margin: auto;
}

.kartu__mb {
  margin-bottom: 54px;
}

.kartu {
  margin: 0 1.125rem;

  cursor: pointer;
  transition: var(--global-trans);
  word-wrap: break-word;

  border-radius: var(--b-rad);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.kartu:hover {
  transform: translateY(-9px);
}

.kartu__img {
  width: 100%;
  height: 160px;

  border-radius: var(--b-rad) var(--b-rad) 0 0;
}

.kartu__body {
  padding: 1.5rem;
}

.kartu__title {
  font-family: var(--ff-head);
  font-size: 18px;
  font-weight: 700;

  display: flex;

  margin-bottom: 18px;

  align-items: center;
}

.kuota__status {
  display: block;

  width: 10px;
  height: 10px;
  margin-left: 12px;

  border-radius: 50%;
}

.kuota__status.s__blue {
  background-color: var(--main);
}

.kuota__status.s__orange {
  background-color: var(--second);
}

.kuota__status.s__red {
  background-color: rgba(209, 0, 0, 1);
}

.kartu__desc {
  margin-bottom: 30px;
}

.kdesc {
  font-size: 14px;

  display: flex;

  margin-bottom: 12px;

  align-items: center;
}

.kdesc i {
  font-size: 18px;

  margin-right: 9px;

  color: rgba(74, 80, 86, 1);
}

.kdesc span {
  color: rgba(74, 80, 86, 1);
}

.kartu__btn {
  display: flex;

  align-items: center;
  justify-content: center;
}

.kbtn {
  font-family: var(--ff-head);
  font-weight: 600;

  padding: 12px 60px;

  transition: var(--global-trans);
  text-align: center;

  color: var(--white);
  border: none;
  border-radius: var(--b-rad);
  outline: none;
  background-color: var(--main);
}

.kbtn:hover {
  color: var(--white);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
}

/* modal */
.modal__content {
  border: none;
  border-radius: var(--b-rad);
  outline: none;
}

.jadwal__content {
  text-align: center;
}

.tabel__section {
  font-size: 18px;

  display: flex;

  margin: auto;
  padding: 1rem;

  justify-content: center;
}

.tabel__content {
  font-size: 18px;
  line-height: 2;
}

.jadwal__content p {
  font-family: var(--ff-head);
  font-size: 36px;
  font-weight: bold;
}

.btn__av {
  font-size: 18px;

  padding: 10px 30px;
}

/* tablet */
@media screen and (max-width: 991px) {
  .kartu__mb {
    margin-bottom: 2rem;
  }

  .kartu {
    margin: 0;
  }

  /* modal */
  .btn__av {
    font-size: 16px;

    padding: 9px 24px;
  }

  .jadwal__content p {
    font-size: 27px;
  }

  .tabel__content {
    font-size: 1rem;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  .kartu__mb {
    margin-bottom: 2.5rem;
  }

  .kartu {
    margin: 0 0.875rem;
  }

  /* modal */
  .btn__av {
    padding: 6px 24px;
  }

  .jadwal__content p {
    font-size: 24px;
  }

  .tabel__content {
    font-size: 14px;
  }
}
