.gambar__content {
  text-align: center;
  border-radius: var(--b-rad);
  width: 70vw;
  margin: auto;
  padding: 1.5rem;
  height: 300px;
}
.jadwal__content {
  text-align: center;
}
.tabel__section {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 18px;
}
.tabel__content {
  font-size: 18px;
}
.sk__section {
  margin: auto;
  padding: 1.5rem;
  width: 80vw;
  display: flex;
  justify-content: center;
}
.sk__isi {
  line-height: 1.5rem;
}
.btn__section {
  display: flex;
  justify-content: end;
  width: 86vw;
  margin-top: 2rem;
}
.btn__daftar {
  margin-left: 1.5rem;
}
.btn__dark {
  color: #fff;
  background-color: var(--main);
  border-color: var(--main);
}
.btn__light {
  color: var(--black);
  background-color: var(--light);
  border-color: var(--light);
}
.btn__dark:hover {
  color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}
.btn__light:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: var(--black);
}
.jadwal__content p {
  font-size: 36px;
  font-weight: bold;
  font-family: var(--ff-head);
}
