@import url(styles.css);

.kebijakan__section {
  width: 90%;
  margin: auto;
}

.title__kebijakan {
  margin-bottom: 12px;
}

.kebijakan__deskripsi {
  margin-left: 1.5rem;
}

.kebijakan__deskripsi ol li {
  line-height: 2;
}

/* tablet */
@media screen and (max-width: 991px) {
}

/* mobile */
@media screen and (max-width: 576px) {
  .kebijakan__deskripsi ol li {
    font-size: 14px;
  }
}
