.card__profile {
  max-width: 974px;
  height: 556px;
  margin: auto;
  margin-bottom: 84px;
  padding: 70px;

  border-radius: 15px;
  background-color: var(--white);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 15%);
}

.profile__section {
  width: 96%;
}

.profile__kiri {
  display: flex;
  flex-direction: column;

  padding-bottom: 14.5rem;

  border-right: 2px solid var(--black);
}

.profile__saya {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.icon__text p {
  font-family: var(--ff-head);
  font-size: 18px;
  font-weight: bold;

  margin: auto;

  color: rgba(0, 0, 0, 0.3);
}

.icon__text :hover {
  transition: var(--global-trans);

  color: var(--main);
}

.profile__tengah {
  padding-left: 3rem;
}

.id__section {
  margin-bottom: 24px;
}

.judul {
  margin-bottom: 24px;
}

.icon__section {
  width: 86vw;
  margin: auto;
  margin-top: 90px;

  text-align: center;
}

.bg__icon {
  width: 150px;
  height: 150px;
  margin: auto;

  border-radius: 100%;
  background-color: var(--main);
}

.icon__content {
  margin: auto;
  padding: 1rem;
}

.icon__content i {
  font-size: 100px;

  color: var(--white);
}

.title__profile {
  margin-top: 28px;
}

.title__profile p {
  font-family: var(--ff-body);
  font-size: var(--fz-2);
}

.label p {
  font-family: var(--ff-body);
  font-weight: bold;

  margin-bottom: 0;
}

/* mobile */
@media screen and (max-width: 576px) {
  .profile__kiri {
    padding: 0 0 3rem;

    border: none;
  }

  .profile__tengah {
    padding-left: 0;

    text-align: left;
  }

  .profile__kanan {
    padding-left: 0;

    text-align: left;
  }

  .card__profile {
    height: 932px;
  }
}

/* tablet */
@media screen and (max-width: 991px) {
  .profile__kanan {
    padding-left: 0;

    text-align: left;
  }
}
