/************************************************/
/*               TABLE OF CONTENT               */
/************************************************/
/*
    1. Google Font
    2. Variable
    3. General styles
    4. Index Page
    99. Responsive / Media queries
*/


/*******************************************/
/*               GOOGLE FONT               */
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');


/****************************************/
/*               VARIABLE               */
/****************************************/
:root {
	/*font and typography*/
	--ff-head: 'Inter', sans-serif;
	--ff-body: 'Work Sans', sans-serif;

	/*color*/
	--white: rgba(255, 255, 255, 1.0);
	--black: rgba(0, 0, 0, 1.0);
	--light: rgba(242, 244, 248, 1.0);
	--main: rgba(38, 86, 190, 1.0);
	--dark: rgba(37, 44, 93, 1.0);
	--second: rgba(248, 166, 27, 1.0);

	/*utility*/
    --b-rad: 10px;
    --p-btn: 12px 24px;
    --shadow: 0 4px 20px 0 rgba(0, 0, 0, .25);
}

/*********************************************/
/*               GENERAL STYLE               */
/*********************************************/
* {
    font-family: var(--ff-body);

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    font-family: var(--ff-head);
}

h2 {
    font-weight: 700;
    font-family: var(--ff-head);
}

h3 {
    font-weight: 700;
    font-family: var(--ff-head);
}

h4 {
    font-weight: 700;
    font-family: var(--ff-head);
}

h5 {
    font-weight: 700;
    font-family: var(--ff-head);
}

h6 {
    font-weight: 700;
    font-family: var(--ff-head);
}

.nav__section .active span{
	color: var(--main);
}

/* font and color */
.font__second {
    font-family: var(--ff-head);
    font-weight: 600;
    color: var(--light);
}

.txt__second {
    color: var(--second) !important;
}

.main__btn {
    border-radius: var(--b-rad);
    padding: var(--p-btn);
    background-color: var(--main);
    color: var(--white);
    font-family: var(--ff-head);
    transition: all .4s ease;
    font-weight: 700;
}


/*========== navigation ==========*/
.nav__section {
    width: 100%;

    background-color: rgba(242, 244, 248, .8);
    backdrop-filter: blur(90px);
}

.navbar-toggler {
    border: none;
}

.navbar__expand {
    padding: 21px 0;
}

.brand__logo {
    height: 36px;
}

.nav__item {
    padding: 0 1.6vw;
}

.nav__link {
    font-weight: 600;

    transition: all .4s ease;
}

.nav__link span {
    transition: all .4s ease;
}

.nav__link:hover span {
    color: var(--main);
}

.btn__nav {
    margin-left: 30px;
    padding: var(--p-btn) !important;

    transition: all .4s ease;

    color: var(--white) !important;
    border-radius: var(--b-rad);
    background-color: var(--dark);
}

.btn__nav:hover {
    background-color: var(--main);
    box-shadow: var(--shadow);
}

/*========== footer ==========*/
.foot {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

footer,
footer .foot__content p {
    color: var(--light);
}

.footer__section {
    padding: 160px 0 8px;
}

.foot__top {
    margin-bottom: 60px;
}

.foot__img {
    height: 44px;
}

.foot__content {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.foot__content p {
    text-align: right;
}

.btn__saran {    
    background-color: rgba(255, 255, 255, .7);
    color: var(--main);
}

.btn__saran:hover {
    color: var(--main);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.4));
    background-color: rgba(255, 255, 255, .9);
}

.foot__bottom .flex__left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.foot__navlink {
    display: flex;
    align-items: center;
    padding-left: 0;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.foot__navlink li {
    margin: 0 48px 16px 0;

}

.foot__navlink li a {
    font-size: 14px;
    color: rgba(242, 244, 248, .7);
    transition: all .4s ease;
    font-weight: 500;
}

.foot__navlink li a:hover {
    text-decoration: underline;
    color: var(--white);
}

.foot__bottom .flex__left .font__second {
    font-size: 18px;
}

.foot__bottom .flex__right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.foot__icon {
    display: flex;
    justify-content: end;
    align-items: center;
}

.foot__icon i {
    color: var(--light);
    font-size: 21px;
}

.foot__icon a {
    transition: all .4s ease;
}

.foot__icon a:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.45);
}

.foot__icon .ms {
    margin-left: 36px;
}

/*************************************/
/*               INDEX               */
/*************************************/
/* jumbotron */
.jumbotron__section .body__content {
    padding-top: 90px;
}

.jumbotron__section .row h1 {
    margin-top: 138px;
    margin-bottom: 24px;
}

.jumbotron__section .row p {
    font-size: 18px;
}

.jumbotron__btn {
    margin-top: 48px;
    align-items: center;
}

.jumbotron__btn .main__btn {
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: var(--shadow);
    font-size: 18px;
    font-weight: 600;
}

.jumbotron__btn .main__btn:hover {
    color: var(--white);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .45);
}

.ideas__btn {
    display: flex;
    align-items: center;
    border-radius: 30px;
    transition: color .4s linear;
    position: relative;
}

.ideas__btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--light);
    border-radius: 30px;
    z-index: -1;
    transition: transform .5s;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform: translateX(-100%);
}

.ideas__btn:hover::before {
    transform: translateX(0);
}

.ideas__btn:hover span {
    color: var(--main);
}

.ideas__btn i {
    color: var(--dark);
    font-size: 30px;
    padding: 12px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    background-color: var(--light);
    margin-right: 24px;
    transition: all .4s ease;
}

.ideas__btn span {
    color: rgba(38, 86, 190, .6);
    font-size: 18px;
    font-weight: 700;
    font-family: var(--ff-head);
    transition: all .4s ease;
}

.main__content {
    height: 1200px;
}

/************************************/
/*               ALUR               */
/************************************/


/*********************************************/
/*               DAFTAR VAKSIN               */
/*********************************************/


/*************************************************/
/*               KEBIJAKAN PRIVASI               */
/*************************************************/


/******************************************/
/*               RESPONSIVE               */
/******************************************/
@media (min-width: 1441px) {
}


/*=============== tablet view ===============*/
@media screen and (max-width: 991px) {
    /*========== navigation ==========*/
    .brand__logo {
        height: 28px;
    }

    .navbar__expand {
        padding: 16px 0
    }

    .navbar__nav {
        margin-top: 36px;
    }

    .nav__item {
        border-bottom: 1px solid rgba(160, 160, 160, .3);
    }

    .nav__link {
        padding: 18px 0;
    }

    .btn__nav {
        margin: 30vh 0 0;
        padding: 12px 20vw !important;
        align-self: center;
    }

    /*========== footer ==========*/
    .foot__content {
        max-width: 360px;
    }

    /****************************************/
    /*               VARIABLE               */
    /****************************************/
}

/*=============== mobile view ===============*/
@media screen and (max-width: 576px) {
    /*========== general ==========*/
    p {
        font-size: 14px;
    }

    /*========== footer ==========*/
    .footer__section {
        padding-top: 120px;
    }

    .foot__top .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot__content {
        max-width: 100%;
    }

    .foot__content p,
    .footer__section .font__second {
        text-align: center;
    }

    .foot__img {
        margin-bottom: 35px;
    }

    .btn__saran {
        margin-right: auto;
        margin-left: auto;
    }

    .foot__bottom .flex__left {
         align-items: center;
         justify-content: center;
    }

    .foot__bottom .flex__right {
        align-items: center;
        justify-content: center;
    }

    .foot__navlink {
        align-items: center;
        justify-content: center;
    }

    .foot__navlink li {
        margin: 0 18px 16px 18px;
    
    }

    .foot__bottom .flex__left .font__second {
        font-size: 14px;
    }

    /****************************************/
    /*               VARIABLE               */
    /****************************************/
}