/************************************************/
/*               TABLE OF CONTENT               */
/************************************************/
/*
    1. Google Font
    2. Variable
    3. General styles
    4. Index Page
    99. Responsive / Media queries
*/

/*******************************************/
/*               GOOGLE FONT               */
/*******************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

/****************************************/
/*               VARIABLE               */
/****************************************/
:root {
  /*font and typography*/
  --ff-head: "Inter", sans-serif;
  --ff-body: "Work Sans", sans-serif;
  --fz-2: 18px;

  /*color*/
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --light: rgba(242, 244, 248, 1);
  --main: rgba(38, 86, 190, 1);
  --dark: rgba(37, 44, 93, 1);
  --second: rgba(248, 166, 27, 1);
  --second2: rgba(128, 128, 128);

  /*utility*/
  --b-rad: 10px;
  --b-lg-rad: 24px;
  --p-btn: 12px 24px;
  --shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  --global-trans: all 0.4s ease-in-out;
}

/*********************************************/
/*               GENERAL STYLE               */
/*********************************************/
html {
  background-color: var(--light);
}

* {
  font-family: var(--ff-body);

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--ff-head);
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-family: var(--ff-head);
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-family: var(--ff-head);
  font-weight: 700;
}

h4 {
  font-family: var(--ff-head);
  font-weight: 700;
}

h5 {
  font-family: var(--ff-head);
  font-weight: 700;
}

h6 {
  font-family: var(--ff-body);
  font-size: 18px;
  font-weight: 600;
}

/* section */
.nav__section .active span {
  color: var(--main);
}

.header__section {
  margin: 180px 0 90px;
}

.header__content {
  width: 64vw;
  max-width: 940px;
  margin: auto;

  text-align: center;
}

.av__y {
  padding: 84px 0;
}

.av__b {
  padding-bottom: 84px;
}

.title__mb {
  margin-bottom: 36px;
}

.header__mb {
  margin-bottom: 24px;
}

.desc__header {
  font-size: 18px;

  color: rgba(0, 0, 0, 0.8);
}

.head__av {
  margin-bottom: 3rem;

  text-align: center;
}

/* font and color */
.font__second {
  font-family: var(--ff-head);
  font-weight: 600;

  color: var(--light);
}

.txt__main {
  color: var(--main) !important;
}

.txt__second {
  color: var(--second) !important;
}

.txt__second2 {
  color: var(--second2) !important;
}

.txt__dark {
  color: var(--dark) !important;
}

.main__btn {
  font-family: var(--ff-head);
  font-weight: 700;

  padding: var(--p-btn);

  transition: var(--global-trans);

  color: var(--white);
  border-radius: var(--b-rad);
  background-color: var(--main);
}

.hyphens__auto {
  -webkit-hyphens: auto;
  hyphens: auto;

  -ms-hyphens: auto;
}

/*========== navigation ==========*/
.nav__section {
  z-index: 100;
  top: 0;

  width: 100%;

  background-color: rgba(242, 244, 248, 0.7);

  backdrop-filter: blur(24px);
}

.nav__fluid {
  width: 92vw;
  max-width: 82rem;
  margin: auto;
}

.navbar-toggler {
  border: none;
}

.navbar__expand {
  padding: 21px 0;
}

.brand__logo {
  height: 36px;
}

.nav__item {
  padding: 0 1.6vw;
}

.nav__link {
  font-weight: 600;

  transition: var(--global-trans);
}

.nav__link span {
  transition: var(--global-trans);
}

.nav__link:hover span {
  color: var(--main);
}

.btn__nav {
  margin-left: 30px;
  padding: 12px 36px !important;

  transition: var(--global-trans);

  color: var(--white) !important;
  border-radius: var(--b-rad);
  background-color: var(--dark);
}

.btn__nav:hover {
  background-color: var(--main);
  box-shadow: var(--shadow);
}

.btn__nav i,
.btn__nav span {
  color: var(--white);
}

.btn__nav:hover i,
.btn__nav:hover span {
  color: var(--white);
}

.btn__nav i {
  font-size: 18px;
}

/*========== footer ==========*/
.foot,
.bg__img {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

footer,
footer .foot__content p {
  color: var(--light);
}

.footer__section {
  padding: 160px 0 8px;
}

.foot__top {
  margin-bottom: 60px;
}

.foot__img {
  max-height: 44px;
}

.foot__content {
  display: flex;
  flex-direction: column;

  max-width: 660px;

  align-items: end;
}

.foot__content p {
  text-align: right;
}

.btn__saran {
  color: var(--main);
  background-color: rgba(255, 255, 255, 0.7);
}

.btn__saran:hover {
  color: var(--main);
  background-color: rgba(255, 255, 255, 0.9);

  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.4));
}

.foot__bottom .flex__left {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.foot__navlink {
  display: flex;

  margin-bottom: 0;
  padding-left: 0;

  align-items: center;
  flex-wrap: wrap;
}

.foot__navlink li {
  margin: 0 48px 16px 0;
}

.foot__navlink li a {
  font-size: 14px;
  font-weight: 500;

  transition: var(--global-trans);

  color: rgba(242, 244, 248, 0.7);
}

.foot__navlink li a:hover {
  text-decoration: underline;

  color: var(--white);
}

.foot__bottom .flex__left .font__second {
  font-size: 18px;
}

.foot__bottom .flex__right {
  display: flex;
  flex-direction: column;

  align-items: end;
  justify-content: space-between;
}

.foot__icon {
  display: flex;

  justify-content: end;
  align-items: center;
}

.foot__icon i {
  font-size: 21px;

  color: var(--light);
}

.foot__icon a {
  transition: var(--global-trans);
}

.foot__icon a:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.45);
}

.foot__icon .ms {
  margin-left: 36px;
}

/* scroll up */
.scroll__up {
  font-size: 2rem;

  position: fixed;
  z-index: 999;
  right: 1.5rem;
  bottom: 3rem;

  display: flex;

  padding: 9px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  opacity: 0;
  color: var(--dark);
  border-radius: 0.75rem;
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  align-items: center;
}

i.scroll__up:hover {
  color: var(--main);
  box-shadow: 0 0 20px 2.5px rgba(0, 0, 0, 0.3);
}

/* backhome */
.back__home {
  position: absolute;
  z-index: 100;
  top: 1.5rem;
  right: 1.5rem;

  display: none;

  padding: 9px;

  transition: var(--global-trans);

  border-radius: 0.5rem;
  background-color: var(--white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.back__home i {
  font-size: 1rem;

  display: flex;

  transition: var(--global-trans);

  color: var(--main);

  align-items: center;
  justify-content: center;
}

.back__home:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.back__home:hover i {
  color: var(--dark);
}

.back__tHome {
  font-size: var(--fz-2);

  position: absolute;
  right: 3rem;
  bottom: 3rem;

  padding: 0 0 2px;

  transition: var(--global-trans);

  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.back__tHome:hover {
  color: var(--second);
  border-bottom: 2px solid var(--second);
}

/*************************************/
/*               INDEX               */
/*************************************/
/* jumbotron */
.jumbotron__section .row h1 {
  margin-top: 120px;
  margin-bottom: 24px;
}

.jumbotron__btn {
  margin-top: 48px;

  align-items: center;
  flex-wrap: wrap;
}

.jumbotron__btn .main__btn {
  font-size: 18px;
  font-weight: 600;

  padding-top: 16px;
  padding-bottom: 16px;

  box-shadow: var(--shadow);
}

.jumbotron__btn .main__btn:hover {
  color: var(--white);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.45);
}

.ideas__btn {
  position: relative;

  display: flex;

  padding-right: 28px;

  transition: all 0.5s ease-in-out;

  border-radius: var(--b-lg-rad);
  background: -webkit-linear-gradient(0deg, transparent 50%, var(--light) 50%);
  background-size: 630px 80px;

  align-items: center;
  justify-content: start;
}

.ideas__btn:hover {
  background-position: 320px 0;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.ideas__btn:hover i {
  color: #d9d48d;
  box-shadow: 0 0 15px 0 rgba(209, 196, 15, 0.4);
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #fff896,
    0 0 16px #f4ea56, 0 0 20px #f4ea56, 0 0 27px #f4ea56, 0 0 30px #faed3a,
    0 0 36px #faed3a;
}

.ideas__btn:hover span {
  color: var(--main);
}

.ideas__btn i {
  font-size: 30px;

  margin-right: 24px;
  padding: 12px;

  transition: var(--global-trans);

  color: var(--dark);
  border-radius: 50%;
  background-color: var(--light);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.ideas__btn span {
  font-family: var(--ff-head);
  font-size: 18px;
  font-weight: 700;

  transition: var(--global-trans);

  color: rgba(38, 86, 190, 0.6);
}

.jumbotron__img {
  width: 100%;
  margin-top: 100px;
}

/* check card */
.check__card {
  display: flex;
  flex-direction: column;

  padding: 40px 24px;

  border-radius: var(--b-lg-rad);
  background-color: var(--light);

  justify-content: center;
}

.check__form {
  width: 74vw;
  max-width: 66.5rem;
  margin: auto;
}

.check__form__content {
  display: flex;

  width: 100%;

  align-items: center;
}

.left__card {
  padding-right: 12px;

  flex: 80%;
}

.right__card {
  display: flex;

  padding-left: 12px;

  flex: 20%;
  align-items: center;
  justify-content: end;
}

.form__control {
  font-family: var(--ff-head);
  font-size: 18px;

  padding: 18px 24px;

  border: none;
  border-radius: var(--b-rad);
}

.form__control::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.captcha__wrap {
  display: flex;
  overflow: hidden;

  width: 100%;
  height: 63px;
  padding: 0 24px;

  border-radius: var(--b-rad);
  background-color: var(--white);

  justify-content: start;
  align-items: center;
}

.check__submit {
  font-family: var(--ff-head);
  font-size: 18px;
  font-weight: 700;

  padding: 18px 48px;

  transition: var(--global-trans);

  color: var(--white);
  border: none;
  border-radius: var(--b-rad);
  background-color: var(--dark);
}

.check__submit:hover {
  background-color: var(--main);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* news */
.news__section {
  max-width: 72rem;
  margin: auto;
}

.news__img {
  width: 100%;
  max-width: 480px;
  height: 360px;

  border-radius: var(--b-lg-rad);
}

.fz__news {
  font-size: var(--fz-2);
}

.vaksin {
  display: flex;

  padding: 2.5rem 0;

  background-color: var(--light);

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vaksin__img {
  height: 60px;
  margin: 1rem 2.5rem;
}

.vaksin__tt {
  height: 100%;
}

/* help */
.help__card {
  position: relative;

  padding: 72px 60px;

  border-radius: var(--b-lg-rad);
}

.help__card p {
  max-width: 36rem;
}

.s__btn {
  display: flex;

  padding: 14px 30px;

  transition: var(--global-trans);

  border-radius: var(--b-rad);
  background-color: rgba(255, 255, 255, 0.8);

  align-items: center;
}

.s__btn span {
  font-family: var(--ff-head);
  font-weight: 700;

  margin-right: 4px;
}

.s__btn i {
  font-size: 28px;

  display: flex;

  transition: var(--global-trans);

  align-items: center;
}

.s__btn:hover {
  background-color: var(--white);

  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
}

.s__btn:hover i {
  transform: translateX(4px);
}

.help__img {
  position: absolute;
  bottom: 0;

  width: 300px;
}

/* our history */
.ourhis__head {
  width: 56vw;
  max-width: 52.5rem;
  margin: auto;
  margin-bottom: 2.5rem;

  text-align: center;
}

.ourhis__body {
  display: flex;

  margin-bottom: 2.5rem;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.service__card {
  width: 22rem;
  margin: 0.75rem 1.5rem;
  padding: 12px 36px;

  border-radius: var(--b-rad);
}

.service__body {
  margin-top: 9px;
}

.service__body i {
  font-size: 16px;

  margin-right: 6px;

  color: var(--white);
}

.service__body span {
  color: var(--white);
}

.ourhis__btn {
  display: flex;

  justify-content: center;
  align-items: center;
}

.ourhis__btn span {
  font-family: var(--ff-head);
  font-weight: bold;

  margin-right: 6px;

  transition: var(--global-trans);
}

.ourhis__btn i {
  font-size: 27px;

  transition: var(--global-trans);
}

.ourhis__btn a:hover span {
  color: var(--main);
}

.ourhis__btn a:hover i {
  transform: translateX(4px);

  color: var(--main);
}

/************************************/
/*               SARAN               */
/************************************/
.saran__section {
  width: 68%;
  margin: auto;

  border-radius: var(--b-lg-rad);
}

.saran__section .form__control,
.login__section .form__control,
.signin__section .form__control {
  background-color: var(--light);
}

.saran__section textarea {
  width: 100%;
}

.kp__btn {
  font-family: var(--ff-head);
  font-weight: 600;

  padding: 12px 30px;

  transition: var(--global-trans);

  color: var(--white);
  border-radius: var(--b-rad);
  background-color: var(--main);
}

.kp__btn:hover {
  color: var(--white);
  background-color: var(--dark);
}

/**********************************************/
/*               REGISTER/LOGIN               */
/**********************************************/
.login__section {
  min-height: 100vh;
}

.masuk__btn {
  font-weight: 600;

  transition: var(--global-trans);

  color: var(--main);
}

.masuk__btn:hover {
  color: var(--second);
}

.left__login {
  display: flex;
  flex-direction: column;

  width: 72%;
  height: 100%;
  margin: auto;
  padding: 0 12px;

  justify-content: center;
}

.left__login .mb-4 p {
  font-size: 18px;
}

.right__login {
  display: flex;

  height: 100%;

  background-color: var(--main);

  justify-content: center;
  align-items: center;
}

.form__label {
  font-size: 18px;
  font-weight: 600;

  color: rgba(0, 0, 0, 0.8);
}

.form__check__label {
  font-size: var(--fz-2);
}

.left__login form input {
  font-size: 1rem;
}

.glass__login {
  display: flex;

  width: 48%;
  padding: 3rem;

  border-radius: var(--b-lg-rad);
  background-color: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(2rem);
  align-items: flex-end;
}

.signin__section {
  width: 72%;
  margin: auto;
}

/******************************************/
/*               RESPONSIVE               */
/******************************************/
/*=============== tablet view ===============*/
@media screen and (max-width: 991px) {
  /* variable */
  :root {
    --fz-2: 16px;
  }

  /* general */
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 42px;
  }

  /* section */
  .av__y {
    padding: 64px 0;
  }

  .title__mb {
    margin-bottom: 1.5rem;
  }

  .header__section {
    margin: 144px 0 72px;
  }

  .header__content {
    width: 86%;
  }

  .desc__header {
    font-size: 16px;
  }

  /*========== navigation ==========*/
  .brand__logo {
    height: 28px;
  }

  .navbar__expand {
    padding: 16px 0;
  }

  .navbar__nav {
    margin-top: 36px;
  }

  .nav__item {
    border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  }

  .nav__link {
    padding: 18px 0;
  }

  .btn__nav {
    margin: 30vh 0 0;
    padding: 12px 20vw !important;

    align-self: center;
  }

  /*========== footer ==========*/
  .foot__content {
    max-width: 360px;
  }

  /* scroll up */
  .scroll__up {
    font-size: 1.875rem;

    right: 0.75rem;
    bottom: 2.5rem;

    padding: 7px;

    border-radius: 10px;
  }

  .back__home {
    display: block;
  }

  /****************************************/
  /*               VARIABLE               */
  /****************************************/

  /*************************************/
  /*               INDEX               */
  /*************************************/
  /* jumbotron */
  .jumbotron__section .body__content {
    max-width: 76vw;
    margin: auto;
  }

  .jumbotron__section .row h1 {
    margin-top: 84px;
  }

  .jumbotron__btn .main__btn,
  .ideas__btn span {
    font-size: 16px;
  }

  .ideas__btn i {
    font-size: 28px;
  }

  .jumbotron__img {
    margin-top: 16px;
  }

  /* check card */
  .check__form {
    width: 100%;
    min-width: 0;
  }

  .check__form__content {
    flex-direction: column;
  }

  .left__card {
    margin-bottom: 30px;
    padding: 0 1.125rem;

    flex: 100%;
  }

  .right__card {
    flex: 100%;
  }

  /* news */
  .news__section {
    max-width: 100%;
  }

  .news__img {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  /* help */
  .help__card {
    height: 53rem;
  }

  .help__img {
    right: 7%;
  }

  /* our history */
  .ourhis__head {
    width: 100%;
  }

  /*************************************/
  /*               SARAN               */
  /*************************************/
  .saran__section {
    width: 100%;
  }

  /****************************************/
  /*               REGISTER               */
  /****************************************/
  .signin__section {
    width: 84%;
  }
}

/*=============== mobile view ===============*/
@media screen and (max-width: 576px) {
  /*========== variable ==========*/
  :root {
    /* font and typografy */
    --fz-2: 14px;
  }

  /*========== general ==========*/
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  /* section */
  .av__y {
    padding: 30px 0;
  }

  .title__mb {
    margin-bottom: 1rem;
  }

  .desc__header {
    font-size: 14px;
  }

  .header__section {
    margin: 120px 0 60px;
  }

  .header__content {
    width: 90%;
  }

  .head__av {
    margin-bottom: 2.5rem;
  }

  /*========== footer ==========*/
  .footer__section {
    padding-top: 120px;
  }

  .foot__top .flex {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .foot__content {
    max-width: 100%;
  }

  .foot__content p,
  .footer__section .font__second {
    text-align: center;
  }

  .foot__img {
    height: 2.25rem;
    margin-bottom: 35px;
  }

  .btn__saran {
    margin-right: auto;
    margin-left: auto;
  }

  .foot__bottom .flex__left {
    align-items: center;
    justify-content: center;
  }

  .foot__bottom .flex__right {
    align-items: center;
    justify-content: center;
  }

  .foot__navlink {
    align-items: center;
    justify-content: center;
  }

  .foot__navlink li {
    margin: 0 18px 16px 18px;
  }

  .foot__bottom .flex__left .font__second {
    font-size: 14px;
  }

  /* backhome */
  .back__home {
    top: 0.75rem;
    right: 0.75rem;
  }

  /****************************************/
  /*               VARIABLE               */
  /****************************************/

  /*************************************/
  /*               INDEX               */
  /*************************************/
  /* jumbotron */
  .jumbotron__section .body__content {
    max-width: 86vw;
  }

  .jumbotron__section .row h1 {
    margin-top: 72px;
  }

  .jumbotron__btn .main__btn {
    font-size: 14px;

    display: block;

    text-align: center;
  }

  .ideas__btn {
    display: flex;

    width: 100%;
    margin-top: 36px;

    background-size: 740px 80px;
  }

  .ideas__btn:hover {
    background-position: 400px 0;
  }

  .ideas__btn i {
    font-size: 20px;

    justify-content: start;
  }

  .ideas__btn span {
    font-size: 14px;

    display: block;
  }

  /* check card */
  .check__form {
    padding-top: 12px;
  }

  .form__control {
    font-size: 16px;
  }

  .check__submit {
    font-size: 16px;
  }

  .captcha__wrap {
    height: 60px;
  }

  /* news */
  .news__img {
    height: 270px;
  }

  /* help */
  .help__card {
    height: 45rem;
    padding: 48px 40px;
  }

  .help__img {
    width: 54vw;
  }

  /* our history */
  .ourhis__head {
    margin-bottom: 1.5rem;
  }

  .service__card {
    width: 100%;
  }

  .service__body i,
  .service__body span {
    font-size: 14px;
  }

  /*************************************/
  /*               SARAN               */
  /*************************************/
  .saran__section {
    width: 90%;
  }

  /****************************************/
  /*               REGISTER               */
  /****************************************/
  .left__login,
  .signin__section {
    width: 78%;
  }

  .left__login .mb-4 p {
    font-size: 1rem;

    margin-bottom: 2.5rem;
  }

  .form__label {
    font-size: 1rem;
  }

  .left__login form input,
  .signin__section .row form .form__control {
    font-size: 14px;
  }
}

/* mobile view s */
@media screen and (max-width: 375px) {
  /*************************************/
  /*               INDEX               */
  /*************************************/
  /* help  */
  .help__card {
    height: 42rem;
  }

  .help__img {
    display: none;
  }
}
